/* Style de base pour la carte postale */
body {
    background-image: url('background-image.jpeg');
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    color: #FAC10C;
    font-size: 50px;
    font-weight: bolder;
    font-family: cursive;
}

 h1:hover {
    font-size: 10px;
    transition: font-size 0.5s;
 }

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px;
}

/* Style pour le nom du Pokémon */
h2 {
    font-size: 24px;
    color: #c7c7ca;
}

/* Style de l'image Pokémon */
img {
    max-width: 300px;
    margin: 20px;
}